

.nft_card{
    /*background-color: #3f404a;*/
    background-color: #3D4252;
    /*background-color: #343946;*/
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    width: 7.5em;
    /*aspect-ratio: 1;*/

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.2em;
}

.nft_img_container{
    object-fit: cover;
    border-radius: 10px;
}

.nft_img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.nft_content{
    /*background-color: #54555d;*/
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 0.4em;
}



.creator_info_container{
    /*background-color: #7b7b82;*/

    display: flex;
    flex-flow: row nowrap;

}





.nft_title{
    text-decoration: none;
    text-align: start;
    padding: 0;
    margin: 0 0 0.2em;
}

.nft_title a{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #fcfcfc;
    margin-top: -0.8rem;
}

.creator_info {
    /*background-color: #696a6e;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.creator_info div:first-child{
    align-items: flex-start;
}

.creator_info div{
    display: flex;
    flex-flow: column nowrap;
}



.creator_info h6 {
    color: #ffffffc5;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
}

.creator_info p {
    font-size: 1.05rem;
    font-weight: 500;
    margin: 0;
}


.buy_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 12px;
    background-color: #5142fc;
    /*background-color: #fcd742;*/
    /*background-color: #cdae00;*/
    color: #ffffff;

    width: 100%;
    aspect-ratio: 6;

    border: none;
    font-size: 1.3rem;

    margin-top: 0.2rem;
    cursor: pointer;

    transition: 0.3s;
}

.buy_btn:hover {
    /*background-color: #2c303b;*/
    /*background-color: #f0f0f0;*/
    /*color: #5142fc;*/
    font-weight: 600;
    /*box-shadow: 0 0 7px 5px rgba(81,66,252,0.67);*/
    box-shadow: 0 0 7px 5px rgba(169, 163, 249, 0.67);
}


.creator_img{
    /*width: 2.5em;*/
    width: 20%;
    object-fit: cover;
    margin-right: 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.creator_img img{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}


@media only screen and (max-width: 992px) {
    .nft_title {
        font-size: 0.8rem !important;
    }

    .creator_info h6 {
        font-size: 0.6rem !important;
    }

    .creator_info p {
        font-size: 0.7rem !important;
    }

    .buy_btn{
        font-size: 0.9rem !important;
        border-radius: 8px !important;
        font-weight: 500 !important;
        aspect-ratio: 5 !important;
    }

    .creator_img{
        margin-right: 0.4rem !important;
    }

    .nft_card{
        padding: 13px !important;
        width: 8.3em !important;
    }
}
